@import "../../variables.scss";

.introduction-container {
  height: calc(100vh - 72px);
  padding-bottom: 72px;
  min-height: 600px;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $tablet) {
    height: calc(100vh - 84px);
  }

  .swipe {
    position: relative;
    width: fit-content;
    margin: auto 0;

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 100%;
      width: 0;
      bottom: 0;
      z-index: 1;
      background-color: #23272a;
      border-left: 8px solid transparent;
      animation: swipe-in 1s cubic-bezier(0.29, 0.13, 0.11, 0.95) 0.5s forwards;
    }

    .introduction {
      display: flex;
      flex-direction: column;
      row-gap: 24px;

      @media only screen and (min-width: $desktop) {
        row-gap: 32px;
      }

      * {
        opacity: 0;
        animation: text-in 0s linear 0.5s forwards;
      }

      &__description-container {
        display: flex;
        flex-direction: column;
        font-weight: normal;
        row-gap: 10px;

        @media only screen and (min-width: $desktop) {
          row-gap: 12px;
        }
      }

      &__description {
        font-weight: normal;
        line-height: 24px;

        @media only screen and (min-width: $desktop) {
          line-height: 32px;
        }

        &__organisation {
          border-bottom: 2px solid transparent;
          transition: border-bottom 75ms ease;
          font-weight: bold;

          &:hover {
            border-color: white;
          }
        }
      }

      &__contacts {
        display: flex;
        column-gap: 24px;

        @media only screen and (min-width: $desktop) {
          column-gap: 28px;
        }

        svg {
          font-size: 24px;

          @media only screen and (min-width: $desktop) {
            font-size: 28px;
          }
        }
      }
    }
  }
}

@keyframes swipe-in {
  0% {
    width: 100%;
    left: 0;
    right: 0;
    border-color: transparent;
  }
  15% {
    width: 100%;
    left: 0;
    right: 0;
    border-color: white;
  }
  20% {
    width: 100%;
    left: 0;
    right: 0;
  }
  80% {
    width: 0%;
    left: 100%;
    border-color: white;
  }
  85% {
    width: 0%;
    left: 100%;
  }
  100% {
    width: 0%;
    left: 100%;
    border-color: transparent;
  }
}

@keyframes text-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
