@import "../../variables.scss";

.layout {
  margin: 0 12vw;
  max-width: 64rem;
  width: 90%;
  margin: 0 auto;

  .content {
    section {
      margin-bottom: 80px;

      @media only screen and (min-width: $desktop) {
        margin-bottom: 160px;
      }
    }
  }
}
