@import "../../variables.scss";

.drawer-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  align-items: stretch;
  pointer-events: none;
  overflow: hidden;

  @media only screen and (min-width: $tablet) {
    display: none;
  }

  &.open {
    pointer-events: auto;

    .drawer-underlay {
      background-color: rgba(0, 0, 0, 0.5);
    }

    .drawer {
      transform: translateX(0);
    }
  }

  .drawer-underlay {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
    transition: background-color 250ms ease-in-out;
  }

  .drawer {
    background-color: #f8fcf2;
    z-index: 300;
    margin-left: auto;
    width: 80%;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    &__close-icon-container {
      text-align: end;
    }

    &__close-icon {
      path {
        // override default package svg colour
        stroke: #2d2323 !important;
      }
      height: 24px;
      line-height: 24px;
      margin: 32px 5vw 20px 0;
    }

    &__link-container {
      display: flex;
      flex-direction: column;
    }

    &__link {
      font-family: Poppins;
      line-height: 50px;
      height: 50px;
      padding: 0 32px;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
    }
  }
}
