.navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px auto 0;
  max-width: 1440px;
  width: 90%;
  padding: 10px 0;

  &__links {
    a {
      border-bottom: 2px solid transparent;
      transition: border-bottom 75ms ease;
      font-weight: normal;

      &:hover {
        border-color: white;
      }
    }
  }
}
