.footer {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 128px auto 32px;
  max-width: 1440px;
  width: 90%;
  padding: 10px 0;

  &__links {
    border-bottom: 2px solid transparent;
    transition: border-bottom 75ms ease;

    &:hover {
      border-color: white;
    }
  }

  &__contacts {
    display: flex;
    column-gap: 24px;

    svg {
      font-size: 24px;
    }
  }
}
